.navbar-nav {
  .dropdown-menu {
    top: 100% !important;
    margin-top: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  li:last-child {
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}